/* General */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Fin general */

/* Tipos de platos */
.tipo-plato {
    position: relative;
    width: 24%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    color: #fff;
}

.tipo-plato span {
    position: relative;
    z-index: 1;
}

.tipo-plato button {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 992px) {
    .container {
        gap: 0;
    }
    .tipo-plato {
        width: 50%;
    }
}
/* Fin tipos de platos */

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
}

.popup-close {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Fin Popup */

/* Botón central */
.boton-central {
    text-align: center;
    margin: 20px 0;
}

.boton-central button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    position: fixed;
    z-index: 100;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.boton-central button:hover {
    background-color: #218838;
}

@media (max-width: 992px) {
    .boton-central {
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        margin: unset;
    }

    .boton-central button {
        width: 100%;
        bottom: 0;
        border-radius: unset;
        padding-block: 35px;
        font-size: 34px;
    }
}
/* Fin botón central */